<div style="display: flex; margin-top: 8vh;">
    <img style="height: 18vh;" src="https://imgs.search.brave.com/RWMfAz0wwXCeybkiiTPzXgL4ICKQ56aD1e1XVD9qlgs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy81/LzU2L1N0ZWVsX0F1/dGhvcml0eV9vZl9J/bmRpYV9sb2dvLnN2/Zw.svg" alt="">
    <h1 style="width: 100%;" class="p-5 bg-dark-subtle text-primary-emphasis text-center">SAIL GUEST HOUSE
        PORTAL
    </h1>
    <img style="height: 18vh;" src="https://imgs.search.brave.com/RWMfAz0wwXCeybkiiTPzXgL4ICKQ56aD1e1XVD9qlgs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy81/LzU2L1N0ZWVsX0F1/dGhvcml0eV9vZl9J/bmRpYV9sb2dvLnN2/Zw.svg" alt="">
</div>