<div class="g-2 m-3 p-4">
        <h1 class="text-center p-4"> {%place%} </h1>
        <div class="row gx-0 ">
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
            <a href="" class="rooms" id="a4">Room 4: <br> Ashok Kumar <br> ED/IC</a>
        </div>
    </div>